#sign-up {
    position: relative;
    margin: 50px auto;
    text-align: center;
    width: 400px;
    height: 400px;
    background-image: url(https://images2.minutemediacdn.com/image/upload/c_crop,w_1920,h_1080,x_0,y_0/c_fill,w_720,ar_16:9,f_auto,q_auto,g_auto/images/voltaxMediaLibrary/mmsport/90min_it_international_web/01fqe881938hrhycvbfz.jpg);
    background-position: center;
    background-size: 500px 400px;
    border-radius: 30px;
}

#sign-up h2 {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgba(96, 17, 38, 0.669);
    color: white;
    padding: 2px;
    border-radius: 10px;
}

#input {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#input p {
    color: white;
    font-size: 12px;
}
